<form action="/urls" method="POST">
    Enter URL:
    <input type = "text" name="long_url">
    <input type = "submit" value="Submit">
</form>

<% @urls.each do |url| %>
  <ul>
    <li>Long url: <%=url.long_url_text %></li>
    <li>Short Url<a href=<%= "#{url.short_url_text}"%>> <%=url.short_url_text %> </a></li>
  </ul>
<% end %>

